html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.img-flex {
  display: block;
  width: 100%;
}

.img-float {
  float: left;
}

.banner-content {
  position: absolute;
  left: 50%;
  bottom: 1.5rem;
  max-width: 45em;
  transform: translateX(-50%);
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: left;
}

.banner-content p {
  margin: 0;
  font-size: 1.5rem;
  margin-top: 1rem;
  text-align: left;
}

.banner-content h2 {
  text-align: left;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.4;
  display: inline;
}

.btn {
  display: inline-block;
  padding: .4em .75em .3em;
  background-color: #333;
  border-radius: 8px;
  border: 3px solid #333;
  color: #fff;
  text-decoration: none;
  font-size: 1.125rem;
}

.btn-big {
  font-size: 1.5rem;
}
